# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/xcshareddata/
**/xcshareddata/WorkspaceSettings.xcsettings
UserInterfaceState.xcuserstate

# CocoaPods
Pods/

# Carthage
/Carthage

# others
.DS_Store